[rules]

  [rule]
      # use instance = "*" for a all-clients rule
      instance = "chromium"

      # role   = ""
      # name   = ""
      # theme  = "default"

      #tag    = 0  # 1st tag
      screen = 1

      free       = false
      tab        = false
      ignore_tag = false
  [/rule]

[/rules]

